.wrapper {
	width: 323px;
	position: relative;
}
input {
	border-color: #d1d1d6;
	border-style: solid;
	width: 100%;
	border-radius: 4px;
	box-sizing: border-box;
	padding-left: 12px;
}
input::placeholder {
	color: #70707b;
}
input:hover {
	border-color: #d1d1d6;
}
input:focus {
	outline: none;
	border-color: #84caff;
	box-shadow: 0px 0px 0px 4px #2e90fa3d;
}
input.error:hover,
.error {
	border-color: #fda29b;
}
.error:focus {
	border-color: #fda29b;
	box-shadow: 0px 0px 0px 4px #f044383d;
}
input:disabled::placeholder {
	color: #d1d1d6;
}
.wrapper__icons__right {
	right: 12px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	gap: 10px;
}

.search__icon {
	left: 12px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.help__icon {
	position: relative;
}

.shortkey__icon {
	position: relative;
}
